<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="moe.haruue.redrockexam.musicplayer">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.SearchActivity">
        </activity>

        <service
            android:name=".ui.service.MusicPlayService"
            android:enabled="true"
            android:exported="false">
        </service>

        <activity android:name=".ui.activity.TopMusicActivity">
        </activity>

        <receiver
            android:name=".receiver.MusicStateReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="moe.haruue.redrockexam.musicplayer.action.musicstate"/>
            </intent-filter>
        </receiver>

        <activity android:name=".ui.activity.SongActivity">
        </activity>
    </application>

</manifest>